footer
    div.container
        div.footer__content
            div.footer__top
                p Sun* Inc.
                div.offices
                    div.office
                        h5 HaNoi Office
                        h6 Keangnam
                        p #[i.fas.fa-map-marker-alt] 3F Keangnam Hanoi Landmark 72 Tower, Plot E6, Pham Hung Road, Nam Tu Liem Dist., Ha Noi
                        p #[i.fas.fa-phone-alt] 84-24-3795-5417
                        h6 Handico
                        p #[i.fas.fa-map-marker-alt] 11F Handico Building, Pham Hung Road, Nam Tu Liem Dist., Ha Noi
                    div.office
                        h5 Training Office
                        h6 Handico
                        p #[i.fas.fa-map-marker-alt] 11F Handico Building, Pham Hung Road, Nam Tu Liem Dist., Ha Noi
                    div.office
                        h5 DaNang Office
                        p #[i.fas.fa-map-marker-alt] 4F, FHome Building, 16 Ly Thuong Kiet Str., Hai Chau district, Da Nang
                    div.office
                        h5 Ho Chi Minh Office
                        p #[i.fas.fa-map-marker-alt] 8F Nice building, 467 Dien Bien Phu Str., Ward 25, Binh Thanh district, HCMC

            div.footer__middle
                h5 Find more about our international offices
                ul.inactive
                    li Tokyo Office
                    li Cebu Office
                    li Phnom Penh Office
                    li 
                        a.world-map #[i.fas.fa-map-marker-alt] Check world map

            div.footer__bottom
                p.copy @ 2019 Sun* Inc. All rights reserved.
                div.social
                    p Follow Life at Sun* on:
                    ul
                        li
                            a(href="https://www.facebook.com/SunAsteriskVietnam/") #[i.fab.fa-facebook.fa-2x]
                        li
                            a(href="https://www.linkedin.com/company/sunasterisk/") #[i.fab.fa-linkedin.fa-2x]

