header 
    nav 
        a.logo
            img(src="assets/icons/Sun-Logotype-RGB-01.png" alt="logo")
        div.menu 
            input#res-menu(type="checkbox")
            label( for="res-menu") 
                i#sign-open.fa.fa-bars.fa-2x 
                i#sign-close.fa.fa-times.fa-3x 
            ul.nav-links 
                li
                    a Cơ hội nghề nghiệp
                li 
                    a Liên hệ
            div.langset.dropdown 
                button.dropdown__btn Tiếng Việt
                    img(src="assets/icons/nav-arrow-down.png" alt="nav-arrow-down")
                div.dropdown__content 
                    a English 
    div.banner.container 
        div.banner__content 
            p.banner__content__hello Hello, world.
            h2.banner__content__title JOIN US & MAKE AWESOME THINGS THAT MATTER
            p.banner__content__sentense 
                span Hãy tưởng tượng ra một thế giới nơi tất cả mọi người đều được tự do tạo ra những giá trị tuyệt vời, có sức mạnh thay đổi cuộc sống. Chúng tôi theo đuổi đam mê của chính mình, cùng nhìn về tương lai.
                span Không chỉ tồn tại, chúng tôi sống để thực hiện hóa những ước mơ.
                span Tại Sun*, tất cả các thành viên luôn nỗ lực đem đến lựa chọn tốt hơn cho mọi người. Đứng ở điểm giao thoa giữa công nghệ, kinh doanh và giáo dục, chúng tôi sẽ mang lại sự thay đổi tích cực cho toàn xã hội.
            p.banner__content__saying We are obsessed with making awesome things with awesome people.
            p.banner__content__author Sun* Inc. CEO – Taihei Kobayashi
