section.vision 
    div.container 
        div.vision__content 
            p.vision__content__title Tầm nhìn 
            p.vision__content__desc Tạo ra thế giới bình đẳng nơi mỗi người đều có cơ hội mang lại những giá trị “Awesome”.
            p.vision__content__title Sứ mệnh
            p.vision__content__desc Cùng những con người đam mê thử thách, chúng tôi tạo ra thay đổi tích cực cho xã hội thông qua các sản phẩm và lĩnh vực kinh doanh.
