extends ../layouts/layout.pug 
block header
    include ../partials/_header.pug
block vision
    include ../partials/_vision.pug
block service
    include ../partials/_service.pug
block client
    include ../partials/_client.pug
block statistics
    include ../partials/_statistics.pug
block team
    include ../partials/_team.pug
block action
    include ../partials/_action.pug
block career
    include ../partials/_career.pug
block footer
    include ../partials/_footer.pug
    